html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('nicebg.jpg') no-repeat center center fixed;
    background-size: cover; /* Resizes image without stretching */
    font-size: 150%;
    color: white; /* Keeps text readable */
}

.container { 
    max-width: 60%; /* or any other value that suits your design */
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px; /* Adds some padding inside the container */
    width: 100%; /* Ensures it takes up all available space up to the max-width */
    box-sizing: border-box; /* Includes padding in the width calculation */
    color: white; /* Sets the text color to white */  

    background: rgba(0, 0, 0, 0.75); /* 50% opaque black background */
}

.topnav {
    background-color: #4e4e4e; /* Dark background for the navbar */
    overflow: hidden; /* Clears floats */
    display: flex; /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Aligns items vertically in the center */
    height: 50px; /* Set the height of the navbar */
}

.topnav a {
    color: rgb(255, 255, 255); /* White text color */
    padding: 14px 16px; /* Padding around the text */
    text-decoration: none; /* Removes underline from links */
    display: inline-block; /* Displays the links inline */
}

.topnav a:hover {
    background-color: #ffd119; /* Lighter grey background when hovered */
}

.topnav a.active {
    background-color: #ff0000; /* Red background for the active link */
}

.topnav-centered {
    display: flex; /* Uses flexbox to align the links */
    justify-content: center; /* Centers the links horizontally */
    align-items: center; /* Centers the links vertically */
}

.server-link {
    color: red;  /* Sets the color of the link text to blue */
    text-decoration: none; /* Optional: removes the underline typically associated with links */
}

/* Styling the message boxes */
.messageBox {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Styling message names */
.messageBox .name {
    font-weight: bold;
}

/* Styling the message content */
.messageBox .message {
    margin-top: 10px;
}

/* Styling the reply */
.messageBox .reply {
    margin-top: 15px;
    color: #8a8a8a;
}

/* Styling the message wall container */
#messagesWall {
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
    margin: 0 auto;
}
